*{
    margin: 0;
    padding: 0;
    border: border-box;

}
body{
    background-color: #5a5e9a;
    display: flex;
    justify-content: center;
   
}
.main{
    margin-top: 50px;
    width: 40%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #9698c3;
    border-radius: 22px;
}
.content{
    margin-top: 10px;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 150px;


}
.upi{
    position: relative;
    top: 100px;
    right: 100px;
}
button{
    position: relative;
    left: 60px;
    top: 70px;
    border-radius: 20px;
    /* display: inline-block; */
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #2a1ed7;
    height: 48px;
    :hover{
        transform: scale(1.04);
        background-color: #21e065;
    }

}
